*{
    margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif;
    max-width:100%
}


body {
    font-family:"Montserrat", sans-serif;
    background-color: #212121;
    color: white;
    line-height: 1.6;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #212121;
}

.logo img{
    color: white;
    font-size: 30px;
    border-radius: -0px;
}
.search button{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    width: 50px;
    border: #3FB950 solid 3px;
    margin-left: 5px;
    color: #3FB950;
    cursor: pointer;
    
} 
 
.search {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.search input {
    padding: 18px;
    width: 45%;
    border: none;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 25px;
    cursor: pointer;
}


.menu-icon {
    cursor: pointer;
    font-size: 25px;
}

.nav-menu {
    display: none;
    background-color: #212121;
    position: absolute;
    border-radius: 20px;
    top: 90px;
    right: 0;
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.986) -10px 25px 60px;
    
}

.nav-menu.active {
    display: block;
    
}

.nav-menu h2 {
    text-align: left;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.nav-menu ul {
    list-style: none;
    margin-bottom: 20px;
}

.nav-menu ul li {
    margin-bottom: 15px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btnlog {
    background-color: #3FB950;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}
.btnlog a{
    text-decoration: none;
    color: white;
}
.btnreg {
    background-color: #1F487E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}
.btnreg a{
    text-decoration: none;
    color: white;
}
.line{
    margin: 30px 0;
    height: 2px;
    background: linear-gradient(to right, #1F487E, #3FB950, #1F487E,#3FB950 );;
    
}

.voltar{
    font-family:"Montserrat", sans-serif;
    padding: 80px 80px;
    font-size: 28px;
    color:  white;
    text-decoration: none;
}

.voltar i{
    color: #ffffff;
}

.voltar a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.profile-header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 25px;
    border-radius: 8px;
}

.profile-pic {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden; 
}
.profile-pic i{
    font-size: 90px; 
    color: #ffffff;
}

.profile-info h2 {
    font-size: 1.8rem; 
    margin-bottom: 5px;
    text-align: center;
    color: #fff; 
}

.profile-info p {
    font-size: 1.1rem;
    color: #bbb;
    text-align: center; 
}

.profile-menu {
    margin-top: 30px;
    color: #fff;
    text-align: left;
}

.profile-menu h2 {
    margin: 30px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

    .profile-menu ul {
        list-style-type: none;
    }

        .profile-menu ul li {
            padding: 12px 0;
            font-size: 1.1rem;
            font-weight: bold; 
        }
            .profile-menu a{
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
            }
            .profile-menu i{
                text-decoration: none;
                color: #3FB950;
                font-size: 19px;
              
            }

.quebra{
    width: 850px;
    justify-content: center;
    display: center;
}

@media (max-width: 800px) {
    
    .search, .search button {
    display: none;
    
}
}