* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #212121;
    color: #ffffff;
    line-height: 1.6; 
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #212121;
}

.logo img{
    color: white;
    font-size: 30px;
    border-radius: -0px;
}
.search button{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    width: 50px;
    border: #3FB950 solid 3px;
    margin-left: 5px;
    color: #3FB950;
    cursor: pointer;
    
} 
.search button:hover{
        box-shadow: #3fb94f1f 0px 0px 30px;
        transition: all 0.2s ease-in-out;
    }
    
.search {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.search input {
    padding: 18px;
    width: 45%;
    border: none;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 25px;
    cursor: pointer;
}


.icons {
    cursor: pointer;
    font-size: 25px;
}
.icons a {
   text-decoration: none;
   color: #fff;
}

.login {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    background-color: #3FB950;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.login:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: #3FB950 0px 0px 30px;
}

.cadastro {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #1F487E;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 1s background;
}

.cadastro:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: #1F487E 0px 0px 30px;
}

main {
    padding: 20px;
}

.help{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3FB950;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;
}
.help a{
    text-decoration: none;
    color: #fff;
    
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}


.populares {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Garante que a seção ocupa toda a largura */
    margin-bottom: 30px;
}
.cardpopular {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    justify-items: center;
    display: center;
    
}

.card {
    flex: 1 1 auto; /* Permite ajuste de largura automática */
    min-width: 200px; /* Largura mínima de cada card */
    max-width: 300px; /* Largura máxima para limitar expansão */
    padding: 20px;
    text-align: center;
    border-radius: 10px;

}
/*cards do topo */
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap; /* Mantém os cards em uma linha */
    width: 100%; /* Largura total */
    overflow-x: auto; /* Permite rolagem se os cards não couberem */
    text-decoration: none;
}
.cards a {
    text-decoration: none;
    color:#1E1E1E;
    font-weight: bold;
    font-size: 18px;
}
/*fim do cards do topo*/




.promocoes-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.promocoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #2B2D42;
    border-radius: 30px;
    padding: 30px;
    align-items: center;
    width: fit-content;
    flex-direction: column;
    
}
/*arruma deixando o h2 centralizado */
.ofertas h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20%; 
}

/*cards da div de promoções*/
.cardP {

    text-align: center;
    border-radius: 10px;
    margin-top: -59px;
}

.cardP h2 {
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 23px; /* Distância entre o título e os cards */
}

.cardP a {
    text-decoration: none;
    color:#1E1E1E;
    font-weight: bold;
    font-size: 18px;
}
.btnp {
    background-color: #1F487E;
        color: black;
        border: none;
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-weight: 100;
}
/*fim do cards da div de promoções*/


/*sessao para o card destaque e estilizando ele*/
.cardestaque {
    display: flex;
    gap: 40px;
    font-size: 15px;
}
/*estlizaçao em si do card destaque*/
.destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-radius: 30px;
    padding:30px 30px;
    border:#3FB950 3px solid;
   /* box-shadow: #3fb94fa2 0px 0px 30px;*/
    margin-bottom: 40px;
}
/*arrumando o texto centralizando, trocando a cor e deixando em negrito*/
.destaque h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 44px; 
}
.destaque p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 28px;
    font-size: 24px;
}
/*tirando a "linkagem" (barra que fica em baixo do texto) e estilizando*/
.destaque a {
    text-decoration: none;
    color:#212121;
    font-weight: bold;
    font-size: 18px;
}

.btnd {
    background-color: #3FB950;
    
        color: black;
        border: none;
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-weight: 100;
}
/*deixando as imagens com cantos arrondados*/
img {
    border-radius: 20px;
}
/*sessao de categoria e suas configs*/
.grid-categorias {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    text-align: center;
    padding: 3%;
}
.categorias h2 {
    margin-bottom: -6px;
}
/*arruma o cards da categoria ficando redondo que com uma borda */
.categoria {
    padding: 10px;
    border-radius: 26px;
    width: 240px;
    height: 110px;
    text-align: center;
    border: 3px solid #3FB950;
    font-size: 6px;
}

.categoria p {
    margin: 0px;
    font-size: 21px;
    text-align: center;
    margin-top: 14px;
}

/*footer nao configurado ent nao entra no site*/
/* footer {
    padding: 20px;
    background: #333;
    text-align: center;
    justify-items: center;
} */

/*config do carrossel com a estilizacao do mesmo */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto; /* Margem automática para centralizar */
    width: 100%;
}

.carouselL {
    display: flex;
    gap: 40px;
    background-color: #2B2D42;
    border-radius: 30px;
    padding:30px 30px;
    max-width: 80%; /* Limita a largura máxima do carrossel */
    justify-content: center; /* Habilita rolagem horizontal para telas pequenas */
    /*box-shadow: #525899d7 0px 0px 30px;8*/
}
.carouselL a{
    text-decoration: none;
    color:#1E1E1E;
    font-weight: bold;
    font-size: 18px;

}
.carouselL p{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
}
.carouselL h2 {
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 23px; /* Distância entre o título e os cards */
}

/*estilização do btn do carrossel*/
.btnc{
        background-color: #3FB950;
        color: black;
        border: none;
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-weight: 100;
        align-items: center;
        
}

.carousel .card {
    min-width: 200px;
}

/*hover dos botoes e do card destaque*/
.destaque:hover{
    box-shadow: #3fb94fb2 0px 0px 30px;
    transition: all 0.2s ease-in-out;
}
.categoria:hover{
    box-shadow: #3fb94f7a 0px 0px 30px;
    transition: all 0.2s ease-in-out;
}

.btnd:hover{
    border: #3FB950 solid 2px;
}
.btnp:hover{
    background-color: #3FB950;
}




/*responsividade*/
@media (max-width: 768px) {
    .search, .search button {
        display: none;

    }
    
    .cards {
        flex-direction: column;
        gap: 10px;
    }

    .carousel {
        flex-direction: column;
    }

    .grid-categorias {
        grid-template-columns: 1fr;
    }
}
