* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #212121;
    color: #ffffff;
    line-height: 1.6; 
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #212121;
}

.logo img{
    color: white;
    font-size: 30px;
    border-radius: -0px;
}
.search button{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    width: 50px;
    border: #3FB950 solid 3px;
    margin-left: 5px;
    color: #3FB950;
    cursor: pointer;
    
} 
.search button:hover{
        box-shadow: #3fb94f1f 0px 0px 30px;
        transition: all 0.2s ease-in-out;
    }
    
.search {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.search input {
    padding: 18px;
    width: 45%;
    border: none;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 25px;
    cursor: pointer;
}


.icons {
    cursor: pointer;
    font-size: 25px;
}
.icons a {
   text-decoration: none;
   color: #fff;
}

.login {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    background-color: #3FB950;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.login:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: #3FB950 0px 0px 30px;
}

.cadastro {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #1F487E;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 1s background;
}

.cadastro:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: #1F487E 0px 0px 30px;
}
/* footer*/
.informacoes{
    display: flex;
    justify-content: center; /* Centraliza os itens no container */
    background-color: #1b1b1b;
    border-top: #ffffff83 solid 1px;
    padding: 20px 0; /* Espaço interno para o footer */
    gap: 30px; /* Espaço entre as colunas */
}

.informacoes h1{
    font-size: 20px;
}
.info1, .info2, .info3{
    margin-top: 30px;
    padding-inline: 30px;
    font-size: 13px;
    align-items: center;
    
}

.info1, .info2, .info3, li a{
   text-decoration: none;   
   color: white; 
   list-style: none;
   }

.info2 h2{
    font-size: 14px;
} 
.info2 i{
    font-size: 18px;
    padding-left: 20px;
}

@media (max-width: 870px) {
    .search, .search button {
        display: none;

    }
}
@media (max-width: 670px) {
    .login, .cadastro {
        padding: 20px;
        flex-direction: column;
        align-items: center;

    }
}
@media (max-width: 590px) {
    .logo img {
        display: none;
    }
    .login, .cadastro {
        padding: 20px 50px;
        margin: 10px 0px;
    }
}